@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
  border: 1px solid red;
} */

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}
/* a {
  text-decoration: none;
} */

img {
  width: 600px;
  display: block;
  margin: 0 auto;
  /* display: block;
  margin: 0 auto; */
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 16px auto;
  display: block;
  /*  margin: 16px auto;
  display: block;*/
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
/* .header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
} */

.header .left-links,
.header .right-links {
  display: flex;
  list-style-type: none;
  padding: 5px;
  gap: 20px;
}
/* .header .left-links,
.header .right-links {
  display: flex;
  list-style-type: none;
  padding: 20px;
  gap: 20px;
} */

.buttons {
  display: flex;
  justify-content: center;
}
/* .buttons {
  display: flex;
  justify-content: center;
} */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  margin-top: 20px;
}

.footer .left-links,
.footer .right-links {
  display: flex;
  list-style-type: none;
  padding: 5px;
  gap: 20px;
}

/* .footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

.footer .left-links,
.footer .right-links {
  display: flex;
  list-style-type: none;
  padding: 5px;
  gap: 20px;
} */