/* * {
  border: 1px solid red;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  /* display: flex;  */
}

h1 {
  font-size: 32px;
  font-weight: 900;
}
/* h1 {
  font-size: 32px;
  font-weight: 900;
} */

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  align-items: center;
  display: flex;
  justify-content: center;
  /* align-items: center;
  display: flex;
  justify-content: center */
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.middle {
  display: flex;
}

/* .middle {
  display: flex;
} */

.sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-right: 80px;;
  /* flex-wrap: nowrap; */
}

li {
  padding: 8px;
}

a {
  color: white;
  text-decoration: none;
}

/* .sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding: 8px;
}

a {
  color: white;
  text-decoration: none;
} */

.boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  flex: 1 1 200px;
}

.card {
  flex: 0 1 300px;
  padding: 10px;
  margin: 10px;
  min-height: 200px;
}

/* .boxes {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 300px;
  padding: 10px;
  margin: 10px;
} */